html {
  box-sizing: border-box;
}

body {
  padding: 55px;
}

.timer {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: #464646;
  display: flex;
  justify-content: center;
}

.field {
  margin: 13px;
}

.label {
  font-size: 21px;
  color: #646464;
}
